h1{
      margin-top: 25px; 
      text-align: center; 
      letter-spacing: 3px;
      font-size: 5em;
      color: rgba(5,48,76,1);
      border-bottom: 2px solid rgb(1,100,138);
  }
       
body {
    height: 800px;
    background-image: linear-gradient(rgba(5,127,194,1), rgba(5,127,194,0));
    background-repeat: repeat-x; /* Standard syntax (must be last) */
}

#sec{
      margin-top: 150px;
      background-color: rgba(7,78,134,78);
      position: absolute;
      margin-left: 500px;
      height: 450px;
      width: 900px;
      border-style: solid;
      border-width: 5px;
      border-color: rgba(120,120,120,40);
      border-radius: 25px;
     }
#sec1{
      position:absolute;
      margin-left: 40px;
      padding: 5px;
      text-align: center;
      font-size: 2.7em;
}

#sec2{
      text-align: center;
      margin-left: 420px;
      font-size: 2.7em;
}

#image{
       background-color: rgb(227,227,227);
       height: 350px;
       width: 350px;
       margin-left: 50px;
       margin-top: 20px;
      }

#output{
        position: absolute; 
        background-color: rgb(227,227,227);
        height: 150px;
        width: 350px;
        margin-left: 500px;
        margin-top: -350px;
        font-size: 1.5em;
       }
#B1{
      margin-left: 100px;
      margin-top: 100px;
      background-color: rgba(105,105,105,30);
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      height: 150px;
      width: 150px;
      text-decoration: none;
      color: rgb(49,49,49);
      font-size: 8em;
      cursor: pointer;
   }
