body,
html {
  height: 100%;
  width: 100%;
  min-width: 1600px;
  min-height: 900px;
}
.bg {
  /* The image used*/
  background-image: url("https://wallpapercave.com/wp/RsyHRBx.jpg");

  /* Full height */
  height: 100%;

  width: 100%;
  min-width: 1425px;
  min-height: 733px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#BigHead {
  font-size: 5em;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 0px;
  padding-left: 20px;
  color: #689ad4;
}
#top {
  background-image: linear-gradient(
    to right,
    rgb(45, 45, 68),
    rgba(0, 0, 0, 0)
  );
  height: 130px;
}

#SmallHead {
  color: #315c8d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /*font-style: italic;*/
  font-size: 1.6em;
  margin-bottom: 0px;
  padding-left: 20px;
}

.embossed {
  min-width: 900px;
  min-height: 430px;
  position: absolute;
  margin-left: 14.86%;
  margin-top: 15%;
  height: 50%;
  width: 57%;
  background-color: rgb(51, 144, 198, 0.3);
  opacity: 0.85;
  border-style: solid;
  border-width: 0px;
  border-radius: 15px;
  border-color: #495057;
  -webkit-box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.39),
    inset 0px 0px 23px 10px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.39),
    inset 0px 0px 23px 10px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.39),
    inset 0px 0px 23px 10px rgba(0, 0, 0, 0.39);
}

#I-outer {
  margin-left: 3%;
  margin-right: 10%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5em;
  color: rgba(235, 235, 236, 0.7);
  height: 100%;
  width: 46%;
}

#I-inner {
  border-style: solid;
  border-width: 2px;
  border-color: #495057;
  background-color: #d1d2d4;
  border-radius: 10px;
  margin-left: 8%;
  margin-right: 5%;
  height: 80%;
  width: 80%;
  -webkit-box-shadow: inset 0px 0px 120px 4px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: inset 0px 0px 120px 4px rgba(0, 0, 0, 0.59);
  box-shadow: inset 0px 0px 120px 4px rgba(0, 0, 0, 0.59);
}

img {
  position: absolute;
  height: 45%;
  width: 45%;
  margin-left: 28%;
  margin-top: 28%;
}

.overlay {
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.zoom {
  height: 100%;
  cursor: pointer;
}

#O-outer {
  position: absolute;
  margin-left: 50%;
  margin-top: -40.5%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5em;
  color: rgba(235, 235, 236, 0.7);
  height: 100%;
  width: 45%;
}

#O-inner {
  border-style: solid;
  border-width: 2px;
  border-color: #495057;
  background-color: rgb(242, 245, 247, 0.7);
  margin-left: 3.5%;
  height: 50%;
  width: 93%;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.59);
}
#bottom {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 15, 0.7),
    rgba(0, 0, 0, 0)
  );
  height: 100%;
}

#Helm {
  height: 100%;
  width: 95%;
  margin-top: 2%;
  margin-left: 5%;
  overflow: hidden;
  cursor: pointer;
}

#about {
  color: whitesmoke;
  font-weight: bold;
  opacity: 0.7;
  font-weight: 100;
  font-size: 3em;
  margin-top: -8%;
  margin-left: 127%;
  width: 15%;
}

.zoom1 {
  margin-left: 100%;
  height: 85%;
  margin-top: -43%;
  width: 40%;
  opacity: 0.3;
}
.zoom1:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.09);
}

.km-button--primary {
  background-color: #5c5aa7;
  color: #ffffff;
}
.button {
  border-radius: 3px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  height: 36px;
  padding: 0px 16px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  min-width: 70px;
  margin-left: 20%;
}
